.drawer-style {
  width: 320px;
  padding: 25px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.drawer-header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.drawer-title {
  font-size: 1.3em;
  margin: 0;
}

.drawer-close {
  cursor: pointer;
}

.drawer-item {
  padding: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
  margin-left: -15px;
}

.drawer-item-img {
  width: 80px;
  height: 90px;
  margin-right: 15px;
  border-radius: 5px;
}

.drawer-item-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.drawer-item-price {
  margin-left: auto;
  font-weight: bold;
}

.drawer-footer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  font-weight: bold;
}

.drawer-count {
  margin-right: 50px;
}

.drawer-btn {
  background-color: black;
  color: white;
  padding: 12px 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
